body{
  animation: bgColor 5s infinite linear;
  width: 60%;
  margin: auto;
  font-family: verdana, sans-serif;
}
@keyframes bgColor {
  0% {
    background-color: #eef;
  }
  50% {
    background-color: #edf;
  }
  75% {
    background-color: #def;
  }
  100% {
    background-color: #eef;
  }

}


h1{
  text-align: center;s
}


p{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}


/* Container holding the image and the text */
.container {
  position: relative;
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 2px;
}
.container img{
  text-align: center;
  width: 100%;
}


/* top right text */
#text-top{
  position: absolute;
  top: 50px;
  right: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
/* bottom right text */
#text-bottom{
  position: absolute;
  bottom: 70px;
  right: 40px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  color: black;
}

/*create div*/
#form{
  height: 200px;
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 200px;
}

.inputs{
  margin: 12px;
  float: left;
}

input{
  margin: 2px;
}
